DEVELOPMENT_CONVEX_SELF_HOSTED_URL=
DEVELOPMENT_CONVEX_SELF_HOSTED_ADMIN_KEY=

CONVEX_SELF_HOSTED_URL=
CONVEX_SELF_HOSTED_ADMIN_KEY=

EXPO_PUBLIC_CONVEX_URL=
EXPO_PUBLIC_DEVELOPMENT_CONVEX_URL=

CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_API_URL=
CLOUDFLARE_R2_BUCKET_NAME=
EXPO_PUBLIC_CLOUDFLARE_URL=

EXPO_PUBLIC_REVENUECAT_IOS_KEY=
EXPO_PUBLIC_REVENUECAT_ANDROID_KEY=
EXPO_PUBLIC_REVENUECAT_TEST_KEY=


